In [5]:
import sys  
!{sys.executable} -m pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/cb/e3/c0bc0f1b3835564f69094135de105a3def2eeb2689338a906bfc659c99d0/pandas-1.3.0-cp38-cp38-win_amd64.whl (10.2MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\abhinavshibu\appdata\roaming\python\python38\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\abhinavshibu\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2020.5)
Collecting numpy>=1.17.3 (from pandas)
  Downloading https://files.pythonhosted.org/packages/0d/fc/2a55c4d690437e09e44f40fe7a8458a72aef9da01719bd8746002999f782/numpy-1.21.1-cp38-cp38-win_amd64.whl (14.0MB)
Requirement already satisfied: six>=1.5 in c:\users\abhinavshibu\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas) (1.14.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.1 pandas-1.3.0

WARNING: You are using pip version 19.2.3, however version 21.1.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('car data.csv')

In [8]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [10]:
df.shape

(301, 9)

In [12]:
print(df['Seller_Type'].unique())
print(df['Transmission'].unique())
print(df['Owner'].unique())

['Dealer' 'Individual']
['Manual' 'Automatic']
[0 1 3]